<div>
    <navigation-bar></navigation-bar>
	<div class="text-center">
        <img src="/public/img/NiteLife-Planner-logo.png" />
	</div>
	
    <form novalidate name="form" ng-submit="searchForBusinesses()" method="post">
        <div class="row text-center">
            <div class="col-xs-10">
                <input required type="text" class="form-control location text-center" placeholder="Where will you be?" ng-model="search.location">
            </div>
            <div class="col-xs-2">
                <input type="submit" class="btn btn-primary submit-btn" value="Go" />
            </div>
        </div>
    </form>

    <div class="business row" ng-repeat="business in businesses">
        <img class="business-image" src="{{ business.image_url }}" />
        <div class="business-details">
            <a class="business-name">{{ business.name }}</a>
            <div>{{ business.description }}</div>
        </div>
    </div>

</div>