<div>
    <navigation-bar></navigation-bar>
	<div class="text-center">
        <img src="/public/img/NiteLife-Planner-logo.png" />
	</div>
	
    <form novalidate name="form" ng-submit="searchForBusinesses(search.location)" method="post">
        <div class="col-md-8">
            <input type="text" class="form-control location text-center" placeholder="Where will you be?" ng-model="search.location">
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn search-btn btn-block" value="Go" />
        </div>
    </form>

	<div class="text-center error-message">{{ errorMessage }}</div>

    <div class="business row" ng-repeat="business in businesses">
        <a href="{{ business.url }}" target="_blank"><img class="business-image" ng-src="{{ business.image_url || 'https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100' }}" alt="Business Image"/></a>
        <div class="business-details">
            <a href="{{ business.url }}" target="_blank" class="business-name">{{ business.name }}</a><span ng-click="rsvp(business.id, $index)" class="num-going">{{ business.rsvp_count }} GOING</span>
            <div><a href="{{ business.url }}" target="_blank" class="business-description">{{ business.description }}</a></div>
        </div>
    </div>

	<div class="text-center footer">
		Angular Fullstack | <a href="https://github.com/pytong/nightlife-coordination" target="_blank">GitHub</a>
	</div>

</div>