<div>
    <navigation-bar></navigation-bar>
	<div class="text-center">
        <img src="/public/img/NiteLife-Planner-logo.png" />
	</div>
	
    <form novalidate name="form" ng-submit="searchForBusinesses()" method="post">
        <div class="row text-center">
            <div class="col-xs-10">
                <input required type="text" class="form-control location text-center" placeholder="Where will you be?" ng-model="search.location">
            </div>
            <div class="col-xs-2">
                <input type="submit" class="btn search-btn" value="Go" />
            </div>
        </div>
    </form>

	<div class="text-center error-message">{{ errorMessage }}</div>

    <div class="business row" ng-repeat="business in businesses">
        <a href="{{ business.url }}" target="_blank"><img class="business-image" ng-src="{{ business.image_url }}" alt="Business Image"/></a>
        <div class="business-details">
            <a href="{{ business.url }}" target="_blank" class="business-name">{{ business.name }}</a><span ng-click="rsvp(business.id, $index)" class="num-going">{{ business.rsvp_count }} GOING</span>
            <div><a href="{{ business.url }}" target="_blank" class="business-description">{{ business.description }}</a></div>
        </div>
    </div>

</div>